/* Student solution styles */

/* style the clickable header
- hide default marker with list-style: none */
.summary {
    list-style: none;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;
    background: #efefef;
}

/* Hide the default disclosure triangle in WebKit browsers */
.summary::-webkit-details-marker {
    list-style: none;
}

/* Details: style the accordion item wrapper */
.details {
    border: 1px solid #efefef;
}
.details section{
    padding: 10px;
}
/* Animate content expansion using ::details-content pseudo-element
   - transition max-height (0.3s ease) and content-visibility (0.3s allow-discrete)
   - set max-height to 0
   - hide overflow */
.details::details-content {
    max-height: 0;
    opacity: 0;
    overflow: clip;
    transition:
        max-height 0.3s ease,
        opacity 0.3s ease,
        content-visibility 0.3s allow-discrete;
}


/* When open, expand content */
.details[open]::details-content {
    max-height: 500px;
    overflow: scroll;
    opacity: 1;
}

.marker {
    transition: transform 0.2s ease;
}
/* Optional - style marker */
/* Custom indicator (plus sign) */
.details[open] .marker {
    transform: rotate(45deg);
}

ul li {
    margin: 10px;
    border: 1px solid #efefef;
    box-sizing: border-box;
}
 /* Another way to add and animate marker for the accordian */
summary::after {
    content: "=";
    display: inline-block;
    transition: transform 0.3s ease;
}
details[open] > summary::after {
    transform: rotate(90deg);
    content: "=";
}